@using WorldNews.Helpers

<li>
    <a href="#categorySubmenu" data-toggle="collapse" aria-expanded="false">Manage categories</a>
    <ul class="collapse list-unstyled" id="categorySubmenu">
        <li>
            @Ajax.ActionLinkCloseSidebar("Create", "Create", "Category")
        </li>
        <li>
            @Ajax.ActionLinkCloseSidebar("List", "List", "Category")
        </li>
    </ul>
</li>
<li>
    <a href="#articleSubmenu" data-toggle="collapse" aria-expanded="false">Manage articles</a>
    <ul class="collapse list-unstyled" id="articleSubmenu">
        <li>
            @Ajax.ActionLinkCloseSidebar("Create", "Create", "Article")
        </li>
        <li>
            @Ajax.ActionLinkCloseSidebar("List", "List", "Article")
        </li>
    </ul>
</li>