<button class="dropdown-item" type="button" onclick="showLoginView(false)">Log in</button>
<button class="dropdown-item" type="button" onclick="showRegisterView(false)">Register</button>

<script type="text/javascript" src="~/Scripts/Account/accountModal.js"></script>