@*
    NOT USED
    
    <li class="nav-item">
    <a class="nav-link" href="javascript:document.getElementById('logoff').submit()">Log off</a>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoff" }))
    {
        @Html.AntiForgeryToken()
    }
</li>*@