@using WorldNews.Helpers;

<div class="container">
    <div class="display-3 text-center">
        @Html.ActionLink("World News", "List", "Article", null, new { @class = "text-link" })
    </div>
</div>
<div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav w-100 justify-content-around category-heading">
                @foreach (string categoryName in ViewBag.Categories)
                {
                    <li class="nav-item">
                        @Html.ActionLink(categoryName, "List", "Article", new { @categoryName = categoryName }, new { @class = "nav-link" })
                    </li>
                }
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="accountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-user-circle-o mr-2"></span>@Html.RenderGreeting(User)
                    </a>
                    <div class="dropdown-menu" aria-labelledby="accountDropdown">
                        @{Html.RenderPartial("LoginPartial");}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <hr class="mt-0" />
</div>