@model IEnumerable<WorldNews.Models.BanReason.BanReasonListViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<ul class="list-group">
    @foreach (var banReason in Model)
    {
        string className = banReason.IsEnabled
            ? "list-group-item-success"
            : "list-group-item-danger";

        <li class="list-group-item justify-content-between @className">
            @Html.ActionLink(banReason.Name, "Edit", new { id = Url.Encode(banReason.Id) })
        </li>
    }
</ul>