@using WorldNews.Helpers
@model IEnumerable<WorldNews.Models.Category.CategoryListViewModel>

<p>
    @Ajax.ActionLinkGet("Create New", "Create", "Category")
</p>

<ul class="list-group">
    @foreach (var category in Model)
    {
        string className = category.IsEnabled
            ? "list-group-item-success"
            : "list-group-item-danger";
        
        <li class="list-group-item justify-content-between @className">
            @Ajax.ActionLinkGet(category.Name, "Edit", "Category", new { id = Url.Encode(category.Id) })
            <span class="badge badge-default badge-pill">@category.NewsCount</span>
        </li>
    }
</ul>