body {
    /*TODO - background*/
}

input,
select,
textarea {
    max-width: 280px;
}

.text-link {
    color: black;
}

.text-link:link, .text-link:visited, .text-link:hover, .text-link:active {
    text-decoration: none;
    color: gray;
}

.avatar {
    height: 240px;
}

.card-fixed-3 {
    width: 300px;
}

.img-article {
    min-width: 100%;
}

.category-heading {
    font-size: 24px;
}

.heading {
    color: #f0ad4e;
    font-size: 21px;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.heading:hover {
    color: #C48226;
    text-decoration: none;
}

.text-article {
    font-family: 'Book Antiqua';
    font-size: 19px;
    line-height: 28px;
}

.dropdown-menu {
    background-color: transparent;
}

.dropdown-menu a {
    color: black;
}